@model List<PgdGorenjiLogatec.CustomModels.Intervencija>

@{
    ViewData["Title"] = "UrejanjeIntervencij";
}


<section class="povezave">
    <div class="section-title">
        <h2>UREJANJE INTERVENCIJ</h2>
    </div>
    <table class="table">
        <thead>
            <tr>
                <td><b>Naslov intervencije</b></td>
                <td><b>Datum intervencije</b></td>
                <td><b>Opis intervencije</b></td>
                <td><b></b></td>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                
                <tr>
                    <td style="display:none">
                        <input asp-for="@item.Id" type="hidden" />
                    </td>
                    <td style="text-align:left">
                        @item.Naslov
                    </td>
                    <td>
                        @item.Datum
                    </td>
                    <td>
                        @item.Opis.Substring(0, 80)  ...
                    </td>
                    <td style="text-align:right">
                        @Html.ActionLink("Uredi", "Uredi", "Admin", new { id = item.Id }) |
                        @Html.ActionLink("Podrobnosti", "Details", "Admin", new { id = item.Id }) |
                        @Html.ActionLink("Izbriši", "Izbrisi", "Admin", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>


